<p-toast></p-toast>

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1> Cadastro de Campeonatos</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome do Campeonato</label>
              <input pInputText type="text" name="nome"
                [(ngModel)]="campeonato.nome"
                #nome="ngModel" required minlength="3">
                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Ano do Campeonato</label>
              <input pInputText type="text" name="ano"
                [(ngModel)]="campeonato.ano"
                #ano="ngModel" required type="number">
                <div *ngIf="ano.hasError('required') && ano.touched">Informe o Ano</div>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
            </div>


        </div>
    </form>
</div>
