
  <p-sidebar [(visible)]="sideBar">

    <div class=" ui-g-12 ui-fluid">
      <h1 class="boxButton">Menu</h1>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Times"
      routerLink="/times/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Jogadores"
      routerLink="/jogadores/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Campeonatos"
      routerLink="/campeonatos/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Partidas"
      routerLink="/partidas/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Cadastrar Gols"
      routerLink="/gols/novo" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Excluir Gols"
      routerLink="/gols/excluir" class="boxButton"></button>

      <button pButton type="button" (click) ="sideBar = false" label = "Visão Geral do Campeonato"
      routerLink="/visaogeral" class="boxButton"></button>

    </div>

  </p-sidebar>

    <button pButton type="button" (click)="sideBar = true" icon="pi pi-th-large"></button>

  <router-outlet></router-outlet>
